<div class="rounded card" style="height:4.5em; width: 12em; padding: 0.2em; margin: 0.5em;">
    <div class="text-center">
        <p>
            @Label
            <br />
            <b>@Counter</b>
        </p>
    </div>
</div>