<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th scope="col">Estado</th>
            <th scope="col">Fecha</th>
            <th scope="col">Responsable</th>
        </tr>
    </thead>
    
    <tbody>
        @for (var index = 0; index < StatesLog.Count; ++index)
        {
            <tr>
                <td>@StatesLog[index].NombreEstado</td>
                <td>@StatesLog[index].FechaHora</td>
                <td>@StatesLog[index].Aprobador?.NombreCompleto</td>
            </tr>
        }
    </tbody>
</table>