@page  "/changePassword"

@attribute [Authorize]
@layout MainLayout
@using PRIME_UCR.Components.Controls
@using PRIME_UCR.Application.Implementations.UserAdministration;
@using PRIME_UCR.Domain.Constants

<h3>
    Cambio de contraseña
</h3>

<Loading IsLoading="ValidationState == 'N'">
    @if (ValidationState == 'F')
    {
        <StatusMessage Message="Ha ocurrido un error, por favor contacte al administrador de la página web."
                       Class="danger" />
    }
    else
    {
        @if (ResultOfRecovery == 'T')
        {
            <StatusMessage Message="Su contraseña ha sido restablecida correctamente"
                           Class="success" />
        }
        else
        {
            @if (OldPasswordConfirmed == 'F')
            {
                <StatusMessage Message="Su contraseña actual es incorrecta"
                               Class="danger" />
            }
            else
            {
                @if (NewPasswordConfirmed == 'F')
                {
                    <StatusMessage Message="Su nueva contraseña no coincide con su confirmación"
                                   Class="danger" />
                }
                else
                {
                    <StatusMessage Message="Recuerde que la contraseña debe al menos simbolos, números, mayúsculas, minúsculas y al menos 8 caracteres"
                                   Class="warning" />
                }
            }
        }



        <div class="bg-white rounded p-1">
            <EditForm Model="@ChangePasswordModel" OnValidSubmit="ChangePassword">
                <FluentValidationValidator />
                <PasswordChangeComponent @bind-ChangePasswordModel="ChangePasswordModel"
                                         @bind-IsBusy="isBusy" />
            </EditForm>
        </div>
    }
</Loading>

