@page "/requestPasswordRecovery/{EmailEncoded}/{PasswordRecoveryToken1Encoded}/{PasswordRecoveryToken2Encoded}"

<h3>
    Configuración de nueva contraseña
</h3>

<Loading IsLoading="RecoveryPasswordInfo.PasswordRecoveryToken == String.Empty">

    @if(ResultOfRecovery == 'T')
    {
    <StatusMessage Message="Su contraseña ha sido restablecida correctamente"
                   Class="success" />
    } else
    {
    <StatusMessage Message="Recuerde que la contraseña debe al menos simbolos, números, mayúsculas, minúsculas y al menos 8 caracteres"
                   Class="warning" />
    }

    @if(ResultOfRecovery == 'F')
    {
    <StatusMessage Message="Se ha presentado un error cambiando la contraseña, vuelva a solicitar el cambio de contraseña"
                   Class="danger" />
    }
    

    <div class="bg-white rounded p-1">
        <EditForm Model="@RecoveryPasswordInfo" OnValidSubmit="ChangePassword">
            <FluentValidationValidator />
            <SetNewPasswordComponent @bind-PasswordModel="RecoveryPasswordInfo.PasswordModel"
                                     @bind-IsBusy="isBusy"/>
        </EditForm>
    </div>

    <br />
</Loading>
