@page  "/user_administration"

@attribute [HasPermission(AuthorizationPermissions.CanManageUsers)]

@using ChartJs.Blazor.Charts
@using PRIME_UCR.Application.Implementations.UserAdministration;
@using PRIME_UCR.Domain.Constants
<h3>Administración de usuarios</h3>