<button type="button" class="btn m-2" style="border-radius: 15px;background-color:#dfdfdf;font-size:0.8em;" @onclick="FilterRemoved">
    @((!String.IsNullOrEmpty(ExtraLabel)) ? $"{@ExtraLabel}:" : "" )
    @Label 
    <span>&times;</span>
</button>