@using PRIME_UCR.Components.Controls
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapse3">Hospital</a>
                <i data-toggle="collapse" href="#collapse3" class="fa fa-toggle-down"></i>
            </h4>
        </div>
        <div id="collapse3" class="panel-collapse collapse">
            <Loading IsLoading="_isLoading">
                <EditForm Model="Value" OnValidSubmit="@Save">
                    <DropDownMenu Data="@_medicalCenters"
                                  Label="Hospital"
                                  TextProperty="Nombre"
                                  DefaultText="Sin filtro"
                                  Value="Value._selectedHospital.MedicalCenter"
                                  ValueExpression="() => Value._selectedHospital.MedicalCenter"
                                  ValueChanged="@((CentroMedico mc) => OnChangeMedicalCenter(mc))"
                                  UseValidation="false"
                                  Required="false" />
                    <div class="text-left">
                        @if (!_changesMade)
                        {
                            <button disabled type="submit" class="btn btn-primary">Aplicar</button>
                            <button disabled class="btn btn-outline-secondary">Descartar</button>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-primary" data-toggle="collapse" href="#collapse3">Aplicar</button>
                            <button role="button" @onclick:preventDefault @onclick="@Discard" class="btn btn-outline-secondary" data-toggle="collapse" href="#collapse3">Descartar</button>
                        }
                    </div>
                </EditForm>
            </Loading>
        </div>
    </div>
</div>