@if (Content.Count == Values.Count && Content.Count > 0)
{
    <div class="@($"alert alert-{Class}") container" role="alert">
            @for (var it = 0; it < Content.Count; ++it)
            {
                <div class="row">
                    <div class="p-2">
                        <b>@Content[it]</b>  @Values[it]
                    </div>
                </div>
            }
    </div>
}

@code {
    [Parameter]
    public List<string> Values { get; set; }

    [Parameter]
    public List<string> Content { get; set; }

    [Parameter]
    public string Class { get; set; }
}