@typeparam TEnum

<li class="nav-item">
    <a href="" class="@($"nav-link {_activeClass}")" @onclick="OnTabSet" @onclick:preventDefault>
        @TabName &nbsp;
        @if (!String.IsNullOrEmpty(Icon))
        {
            <span class="oi oi-@Icon" data-toggle="tooltip" title="@TooltipText" data-placement="top"></span>
        }
    </a>
</li>
