<footer class="container-fluid footer-page">

    <div class="row footer-links d-flex justify-content-around">
        @* Footer logo *@
        <div class="col p-2 footer-logo">
            <img id="f-logo" src="img/ucr_promo.png">
        </div>
        @* Footer: "Publicaciones" *@
    <div class="col p-2 footer-publicaciones">
        <div class="container-fluid">
            <h5 id="f-title">
                Publicaciones
            </h5>
            <div class="row">
                <a class="pt-1 mt-1 oi oi-globe text-white" aria-hidden="true" href="https://www.ucr.ac.cr/noticias/" />
                <p> </p> @** whitespace *@
                <a id="f-link" class="d-none d-lg-block d-xl-block" href="https://www.ucr.ac.cr/noticias/">Noticias</a>
            </div>
            <div class="row">
                <a class="pt-1 mt-1 oi oi-document text-white" aria-hidden="true" href="https://www.ucr.ac.cr/multimedios/documentos/" />
                <p> </p> @** whitespace *@
                <a id="f-link" class="d-none d-lg-block d-xl-block" href="https://www.ucr.ac.cr/multimedios/documentos/">Documentos</a>
            </div>
        </div>
    </div>
        @* Footer: "Contacto" *@
        <div class="col p-2 footer-contacto">
            <div class="container-fluid">
                <h5 id="f-title">
                    Contacto
                </h5>
                <div class="row">
                    <a class="pt-1 mt-1 oi oi-people text-white" aria-hidden="true" href="https://www.ucr.ac.cr/directorio/" />
                    <p> </p> @** whitespace *@
                    <a id="f-link" class="d-none d-lg-block d-xl-block" href="https://www.ucr.ac.cr/directorio/"> Directorio completo de contactos UCR</a>
                </div>
                <div class="row">
                    <a class="pt-1 mt-1 oi oi-cloud text-white" aria-hidden="true" href="https://www.ucr.ac.cr/contacto.html" />
                    <p> </p> @** whitespace *@
                    <a id="f-link" class="d-none d-lg-block d-xl-block" href="https://www.ucr.ac.cr/contacto.html"> Contacto sitio web www.ucr.ac.cr</a>
                </div>
            </div>
        </div>
    </div>
    @* Footer copyright *@
    <div class="row footer-copyright d-flex justify-content-center">
        <p class="m-0 p-0">© 2020 Copyright: <a id="f-link" class="p-0 m-0" href="https://ucr.ac.cr/"> Universidad de Costa Rica</a></p>
    </div>
</footer>