

<div>
    
    <InfoPrimeComponent />

    <div class="text-center">
        <img class="w-50" src="https://www.ministeriodesalud.go.cr/index.php/centro-de-informacion/material-comunicacion/protocolos-ms/coronavirus/4683-prevengamos-la-transmision-del-covid-19-en-3-pasos/file" />
    </div>
    <br />
</div>

