<h1 class="text-center">PRIME@UCR</h1>
<div class="row">
    <p>

        El servicio de Terapia Respiratoria del CEACO por medio del equipo de Primera Respuesta Médica Especializada (PRIME), se encarga de la movilización de todos los pacientes con COVID-19 del país, pero de forma más importante de pacientes críticos, que necesitan de una movilización de centros de bajo nivel de complejidad a hospitales de mayor complejidad.

        La aplicación permite a los usuarios realizar la administración de los traslados e incidentes para la movilización desde centros de atención de bajo nivel de complejidad a hospitales de mayor complejidad, el control de los procedimientos establecidos durante los traslados de pacientes, la caracterización de los traslados y la condición de los pacientes, la gestión de envío de información en tiempo real por los miembros del equipo PRIME al centro de control, el seguimiento en tiempo real de los incidentes, la administración de la información de los usuarios especialistas médicos, de los equipos de trabajo humano, los equipos técnicos y las unidades de atención, y finalmente, la generación de estadísticas sobre los procesos de atención, entre otros.

    </p>
</div>