@inherits LayoutComponentBase

<HeaderComponent />
<app>
    <div class="container-fluid h-100 w-100">
        <div class="row wrapper flex-column flex-md-row h-100">
            @* Configuration for menu hamburguer in resizing *@
            <aside class="sidebar col-xs-0 col-sm-0 col-md-0 col-xl-2 col-lg-2 p-0 h-100 flex-shrink-1">
                <nav class="navbar navbar-light text-white  navbar-expand-lg
                            background-image:blue align-items-start flex-md-column flex-row responsive-sidebar">
                    <a class="navbar-toggler sidebar-cursor text-center" data-toggle="collapse" data-target=".sidebar-show">
                        <span class="oi oi-menu text-white" aria-hidden="true"></span>
                    </a>
                    <AuthorizeView>
                        <Authorized>
                            <NavMenu />
                        </Authorized>
                        <NotAuthorized>
                            <LoginForm />
                        </NotAuthorized>
                    </AuthorizeView>
                </nav>
            </aside>
            <main class="col-xs-12 col-sm-12 col-md-9 col-xl-10 col-lg-10 main h-100">

                <div class="content px-4 float-none">
                    @Body
                </div>

            </main>
        </div>
    </div>
</app>
<FooterComponent />
