<ul style="list-style-type:disc">
    <li>
        <a class="nav-link " href="/show-medical-record">
            Lista de expedientes
        </a>
    </li>
    <li>
        <a class="nav-link" href="create-medical-record">
            Crear expediente
        </a>
    </li>
</ul>

