@page "/about-us"
<link href="css/about_us.css" rel="stylesheet" />

<InfoPrimeComponent />

<h1>Acerca de nosotros</h1>
<ul id="about_us_content">
    <li class="team">
        <b>Diosvier</b>
        <ul>
            <li>Erik Kühlmann Salazar</li>
            <li>Daniel Salazar Mora</li>
            <li>José Esteban Marín Masís</li>
            <li>Ricardo Franco Rodríguez</li>
            <li>Adrián Sibaja Retana</li>
        </ul>
    </li>
    <li class="team">
        <b>Atenienses++</b>
        <ul>
            <li>Fernando Morales</li>
            <li>Luis Sanchez Romero</li>
            <li>José Andrés Víquez Ramírez</li>
            <li>Daniela Vargas Sauma</li>
            <li>Elian Ortega Velasquez</li>
        </ul>
    </li>
    <li class="team">
        <b>Drim Team</b>
        <ul>
            <li>Adrián Córdoba</li>
            <li>Javier Sandoval</li>
            <li>Gustavo Jimenez</li>
            <li>Isacc Zúñiga</li>
            <li>José Ignacio Cruz</li>
        </ul>
    </li>
    <li class="team">
        <b>Legados</b>
        <ul>
            <li>Juan Pablo Gamboa Vargas</li>
            <li>Stephanie María Leitón Ramírez</li>
            <li>Alejandro José Mairena Jiménez</li>
            <li>Kevin Obando Molina</li>
            <li>Érick Rojas Zúñiga</li>
        </ul>
    </li>
</ul>
