@using PRIME_UCR.Domain.Models.Appointments

<SummaryMessage Content="Summary.Content" Values="Summary.Values" Class="info" />
<h3>Multimedia de incidente</h3>
<br/>
<Loading IsLoading="_isLoading">
    <AuthorizeIfAssigned IncidentCode="@Incident.Code">
        <table class="table table-bordered text-center">
            <thead>
            <tr>
                <th style="width: 20%;">Adjuntar</th>
                <th style="width: 80%;">Tipo acción</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var i in _actionTypes)
            {
                <tr>
                    <td class="text-center">
                        <MultimediaContentComponent MultimediaContent="_existingFiles[_actionTypes.IndexOf(i)]"
                                                    OnFileUpload="(MultimediaContent mc) => OnFileUpload(i, mc)"
                                                    ViewOnly="@ReadOnly"/>
                    </td>
                    <td>
                        <div class="text-left">
                            @i.Nombre
                        </div>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </AuthorizeIfAssigned>
</Loading>
