<GraphContainer Title="Citas por Paciente" EventQuantity="@patientQuantity" ShowModal="ShowModal" ZoomActive="@ZoomActive" QuantityTitle="Cantidad de Pacientes" IsAppointment="true">
    <div id="AppointmentVsPatientComponent"></div>
</GraphContainer>
