<GraphContainer Title="Altura" EventQuantity="@appointmentsQuantity" ShowModal="ShowModal" ZoomActive="@ZoomActive" QuantityTitle="Cantidad de Citas" IsAppointment="true">
    <div id="AppointmentsVsMedicalRecordsHeightComponent"></div>
</GraphContainer>
