<GraphContainer Title="Presión" EventQuantity="@appointmentsQuantity" ShowModal="ShowModal" ZoomActive="@ZoomActive" QuantityTitle="Cantidad de Citas" IsAppointment="true">
    <div id="AppointmentsVsMedicalRecordsPressureComponent"></div>
</GraphContainer>
