<GraphContainer Title="Citas por Centro Médico" EventQuantity="@appointmentsQuantity" ShowModal="ShowModal" ZoomActive="@ZoomActive" QuantityTitle="Cantidad de Citas" IsAppointment="true">
    <div id="AppointmentsVsMedicalCenterComponent"></div>
</GraphContainer>
