<GraphContainer Title="Incidentes por destino" EventQuantity="@eventQuantity" ShowModal="ShowModal" ZoomActive="@ZoomActive" QuantityTitle="Cantidad de Incidentes">
    <div id="IncidentsVsDestinationLocationComponentJS"></div>
</GraphContainer>
