<GraphContainer Title="Incidentes por medio de transporte" EventQuantity="@eventQuantity" ShowModal="ShowModal" ZoomActive="@ZoomActive" QuantityTitle="Cantidad de Incidentes">
    <div id="chartdiv"></div>
</GraphContainer>



