<GraphContainer Title="Incidentes por origen" EventQuantity="@eventQuantity" ShowModal="ShowModal" ZoomActive="@ZoomActive" QuantityTitle="Cantidad de Incidentes" >
    <div id="IncidentsVsOriginLocationComponentJS"></div>
</GraphContainer>

