<GraphContainer Title="Incidentes en el tiempo" EventQuantity="@eventQuantity" ShowModal="ShowModal" ZoomActive="@ZoomActive" QuantityTitle="Cantidad de Incidentes">
    <div id="IncidentsVsTimeChartComponentJS"></div>
</GraphContainer>