
<div class="col-3">
    <PasswordTextBoxComponent Label="Contraseña Actual:" @bind-Value="ChangePasswordModel.OldPassword" Required="true" Type="password" />
</div>

<div class="col-3">
    <PasswordTextBoxComponent Label="Nueva Contraseña:" @bind-Value="ChangePasswordModel.NewPassword" Required="true" Type="password" />
</div>

<div class="col-3">
    <PasswordTextBoxComponent Label="Confirmar nueva contraseña:" @bind-Value="ChangePasswordModel.NewPasswordConfirm" Required="true" Type="password" />
</div>

    <div class="m-3">
        @if (IsBusy)
        {
            <button class="btn btn-primary-noHover width:13em mt-2" type="button" disabled>
                <span class="spinner-border spinner-border-sm" style="background-color:#095290" role="status" aria-hidden="true"></span>
                Validando información
            </button>
        }
        else
        {
            <button type="submit" class="btn btn-primary width:13em mt-2">Asignar contraseña</button>
        }
    </div>
