@if (EmailModel.Message != String.Empty)
{
    <StatusMessage Message="@EmailModel.Message"
                   Class="@EmailModel.StatusMessage" />
}

<div class="bg-white rounded pb-1">
    <EditForm Model="@EmailModel" OnValidSubmit="CheckUserForRecoveryAsync">
        <FluentValidationValidator />
        <p>
            Digite su correo electrónico para enviarle un enlace para obtener una nueva contraseña.
        </p>

        <div class="col-4">
            <TextBox @bind-Value="EmailModel.Email"
                     Label="Correo electrónico"
                     Required="true" />
        </div>
        <div class="m-3">
            @if (_isBusy)
            {
                <button class="btn btn-primary-noHover width:13em mt-2" type="button" disabled>
                    <span class="spinner-border spinner-border-sm" style="background-color:#095290" role="status" aria-hidden="true"></span>
                    Validando información
                </button>
            } else
            {
                <button type="submit" class="btn btn-primary width:13em">Recuperar contraseña</button>
            }
        </div>
    </EditForm>
</div>