<ul class="nav nav-pills flex-column">
    <li class="nav-item">
        <a class="nav-link @ProfileNavStatus" href="user_administration/profiles">
            Modificar perfiles
        </a>
    </li>
    <li>
        <a class="nav-link @CreateUserStatus" href="user_administration/registerUser">
            Crear usuarios
        </a>
    </li>
    <li>
        <a class="nav-link @ResendInvitationStatus" href="user_administration/resendValidationEmail">
            Reenviar correo a usuarios no validados
        </a>
    </li>
</ul>

