@using PRIME_UCR.Components.MedicalAppointments
@inject IAppointmentService appointment_service;


@if (Summary != null)
{
    <SummaryMessage Content="Summary.Content" Values="Summary.Values" Class="info" />
}

<div class="row">
    <div class="prescription_list">
        <PrescriptionListComponent AppointmentId="@id" NotifyChanges="updateChanges" Medpres="medicalprescrip"></PrescriptionListComponent>
    </div>


    <div class="drugselector">
        <DrugSelectorComponent IdMedicalPrescription="@id" Active="drug_selector_active" Description_not_done="prescription_description_not_done" UpdateList="updatelist"></DrugSelectorComponent>
    </div>
</div>
